---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const features = [
	{
		title: "Automatisk regeltjekker",
		description: "Sikre du overholder reglerne for DH-turneringen",
		icon: "bx:bxs-briefcase"
	},
	{
		title: "Data fra badmintonplayer",
		description: "Hver nat importeres nyeste data fra badmintonplayer",
		icon: "bx:bxs-window-alt"
	},
	{
		title: "Meld afbud eller skade",
		description: "Markere afbud eller sæt en spiller som skadet",
		icon: "bx:bxs-data"
	},
	{
		title: "Del din holdkamp",
		description: "Del din holdkamp med link eller download opstillingen",
		icon: "bx:bxs-bot"
	},
	{
		title: "Hold på tværs af klubber",
		description: "Består dit holdturninens hold af flere klubber, kan du nemt tilføje ekstra klubber",
		icon: "bx:bxs-file-find"
	},
	{
		title: "Multi ranglister for holdrunden",
		description: "Vælge forskellige ranglister per hold i holdrunden.",
		icon: "bx:bxs-user"
	},
	{
		title: "Variable hold",
		description: "Opret variable hold. Det giver mulighed for at oprette brugerdefinerede hold, hvor du selv vælger antallet af mixer, singler og doubler på hold.",
		icon: "bx:bxs-user"
	}
];
---
<div class="bg-white py-24 sm:py-32">
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
	  <div class="mx-auto max-w-2xl lg:text-center">
		<h2 class="text-base font-semibold leading-7 text-indigo-600">{t("features.title")}</h2>
		<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{t("features.subtitle")}</p>
		<p class="mt-6 text-lg leading-8 text-gray-600">{t("features.description")}</p>
	  </div>
	  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
		<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
			{
				features.map((item) => (
				<div class="relative pl-16">
					<dt class="text-base font-semibold leading-7 text-gray-900">
					<div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg">
						<Icon name={item.icon} />
					</div>
					{item.title}
					</dt>
					<dd class="mt-2 text-base leading-7 text-gray-600">{t(item.description)}</dd>
				</div>
				))
			}
		</dl>
	  </div>
	</div>
  </div>
