---

const apiDomain = import.meta.env.PUBLIC_API_DOMAIN

const response = await fetch(
	apiDomain+"/graphql",
	{
		method: "POST",
		headers: { "Content-Type": "application/json" },
		body: JSON.stringify({
			query: `
				query stats {
					teamRounds : stats(metric: TEAMROUNDS_COUNT){
						points
						version
					}
					
					teams : stats(metric: TEAMS_COUNT){
						points
						version
					}
					
					clubs : stats(metric: IMPORTED_CLUBS_COUNT){
						points
						version
					}
				}
      `}),
	}
);

const json = await response.json();
const { teamRounds, teams, clubs } = json.data;

const teamRoundsCount = teamRounds.reduce((aggro, current) => aggro + current.points, 0)
const teamsCount = teams.reduce((aggro, current) => aggro + current.points, 0)
const clubsCount = clubs.reduce((aggro, current) => aggro + current.points, 0)

---

<div class="bg-white py-24 sm:py-32">
	<div class="text-center mb-10 sm:mb-12">
		<h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-3">
			Vi hjælper klubber over hele landet
		</h2>
		<p class="text-base md:text-lg text-gray-600">
			Minimere bøder og tabte kampe
		</p>
	</div>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
			<div class="mx-auto flex max-w-xs flex-col gap-y-4">
				<dt class="text-base/7 text-gray-600">Oprettet siden 2022</dt>
				<dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{teamRoundsCount} Holdrunder</dd>
			</div>
			<div class="mx-auto flex max-w-xs flex-col gap-y-4">
				<dt class="text-base/7 text-gray-600">Fra Liga til Danmarksserien</dt>
				<dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{teamsCount} hold</dd>
			</div>
			<div class="mx-auto flex max-w-xs flex-col gap-y-4">
				<dt class="text-base/7 text-gray-600">Importeret</dt>
				<dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{clubsCount} klubber</dd>
			</div>
		</dl>
	</div>
</div>
