<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Vision og mission</h1>
    <p class="mt-6 text-xl leading-8">At skabe de bedste digitale redskaber til holdturneringen som gør planlægningen effektivt og som styrker fællesskabet og engagementet indenfor klubberne.</p>
    <div class="mt-10 max-w-2xl">
      <p>NemBadminton har til mission at udvikle intuitive og brugervenlige digitale værktøjer, der transformerer måden, holdturneringer planlægges og gennemføres på i badmintonklubber. Ved at anvende teknologi ønsker vi at simplificere administrative opgaver, fremme en mere effektiv planlægning og give trænere, frivillige og spillere mere tid til at fokusere på spil, træning og fællesskab. Vi stræber efter at styrke sammenhold og engagement i klubberne ved at gøre det nemmere og mere tilgængeligt for alle at deltage i og bidrage til badmintonsporten.</p>
      <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Om værktøjet</h2>
      <p class="mt-6">Værktøjet nembadminton.dk er udviklet som et bidrag til badmintonsporten i Danmark for at gøre det nemmere at være træner og frivillig. Badminton Danmark har hverken valideret eller kontrolleret beregningerne. Alle udregninger er lavet på baggrund af reglementet for DH-turneringen. Det er altid jer som klub og bruger, der har ansvaret for, at opstillingerne er korrekte, og I har selv ansvaret for at kontrollere i forhold til ranglister på badmintonplayer og DH-reglementet. Værktøjet hjælper kun med opstillinger internt og mellem hold i forhold til ranglistepoint. Hvis spillere f.eks. har karantæne, ses det ikke her.</p>
    </div>
  </div>
</div>
